@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #6b3102;
    --laranja: #9837e7;
    --azul-degrade: linear-gradient(97.54deg, #db25bd 35.49%, #1a8856 165.37%);
    --fonte-principal: "Poppins";
    --azul: #91ff00;
    --fonte-secundario: "Josefin Sans";
    --preto: #ff0909;
    --cinza: #363635;
    --cinza-claro: #ffee00;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}